*{
    margin: 0px auto;
}

body{
    font-family: Karma, Bodoni, serif;
    width: 607px;
}

#image-wroclaw {
    width: 607px;
    height: 368px;
    background-image: url("images/poland-3695632_640.jpg");
}

#text-wroclaw {
    color: #112371;
    padding-top: 50px;
    padding-left: 176px;
}

#description{
    margin: 30px auto;
    text-align: center;
}

#main{
    display: flex;
}

.detalited_description{
    padding-top:50%;
    height: 230px;
    margin-bottom:25%;
    color: white;
    vertical-align: middle;
    text-shadow: black 0px 0px 2px;
    visibility: hidden;
}

.italic{
    font-style: italic;
}

#zoo{
    width: 200px;
    height: 230px;
    background-image: url("images/zoo_wroclaw_097-1140x660.webp");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#zoo:hover > .detalited_description{
    visibility: visible;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 57%;
}

#museum{
    width: 200px;
    height: 230px;
    background-image: url("images/Muzeum-Narodowe-Wroclaw-scaled.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#museum:hover > .detalited_description{
    visibility: visible;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 57%;
}

#rynek{
    width: 200px;
    height: 230px;
    background-image: url("images/rynek-wroclaw-md.jpg");
    background-size: cover;
    text-align: center;
}

#rynek:hover > .detalited_description{
    visibility: visible;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 57%;
}

#photo{
    width: 100px;
    height: auto;
    margin-left: 20%;
}

#photo_frame{
    padding-top: 8px;
}

#business_card{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 16px auto 0px;
    background-color: #20AFF6;
    border-radius: 5px;
    border-bottom: solid 2px darkblue;
    border-right: solid 2px darkblue;
}

#title{
    margin: 16px auto 2px;
    height: 20px;
    font-size: 16px;
}

#name{
    margin: 2px auto;
    font-size: 14px;
    font-weight: bold;
}

#about_me{
    background-color: rgb(40, 212, 224);
    width: 150px;
    height: 60px;
    margin: 0 auto;
    font-size: 10px;
    border-radius: 10px;
    padding-top: 8px;
}
